/*PLANTASAURUS*/
h1{
    font-size: 10vh;
    color:#ebebeb;
	margin-top: 0px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*NAV BAR!!!*/
.topnav {
	background-color: #86ac86;
	margin-right: 3%;

  }

  
  /* Style the links inside the navigation bar */
  .topnav a {
	float: Right;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-family: verdana;
	font-size: 14px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
	background-color: #507e55;
	color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
	background-color: #649c6a;
	color: white;
  }

.banner{
    width: 100vw;
    height: 13vh;
    background-color: #86ac86;
	margin: 0px;
}

body{
	background-color: #F5F5F5;
}

.container{
	width: 100vw;
	height: 100vh;
	margin: 0px;
}

#side2{
    display:flex;
	flex-direction:column;
	justify-content: space-between;
    /*justify-content:absolute;*/
    width:20vw;
    Height:30vh;
    margin-left:0vw;
    margin-bottom:0vh;
    flex-wrap: wrap;
   
}
/*main box*/
#side1{
    width: 50vw;
    height: 77vh;
    background-color: #D9D9D9;
    margin-left: 22vw;
    margin-right:1vw;
    margin-top: 0vh;
    margin-bottom: 0vh;
    text-align: center;
    border-radius:1.5%;
    float: left;


}

/*contact us for plant advice*/
h2{
    font-size: 4vh;
    font-family: verdana;
	font-weight: 400;
    color: #878787;
	margin-bottom: 20px;
	margin-left:1vw;
	margin-top:3vh;
}

label{
    font-size:2vh;
    font-family: verdana;
	font-weight: 400;
    color: #6E988B;
}

/*button css*/
input[type=button], input[type=submit], input[type=reset] {
    background-color: #6E988B;
  border: none;
  border-radius: 9px;
  color: white;
  padding: 13px 30px;
  text-decoration: none;
  margin: 4px 2px;
  font-family: verdana;
  font-weight: 400;
  cursor: default;
}
