/*NAV BAR!!!*/
.topnav {
	background-color: #86ac86;
	margin-right: 3%;

  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
	float: Right;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-family: verdana;
	font-size: 14px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
	background-color: #507e55;
	color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
	background-color: #a8dbbc;
	color: white;
  }
  
.banner{
    width: 100vw;
    height: 13vh;
    background-color: #86ac86;
	margin: 0px;
}

h1{
    font-size: 10vh;
    color:#ebebeb;
	margin-top: 0px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
	width: 100vw;
	height: 75vh;
	margin: 0px;
}

#cont1{
	width: 46vw;
    height: 33vh;
	background-color: #D9D9D9;
	margin-left: 3vw;
	margin-top: 5vh;
	margin-bottom: 3vh;

	border-radius:20px;
    float: left;
}

#cont2{
	width: 46vw;
    height: 33vh;
	background-color: #D9D9D9;
	margin-right:3vw;
	margin-top: 5vh;
	margin-bottom: 3vh;

	border-radius:20px;
    float: right;
}

#cont3{
	width: 46vw;
    height: 33vh;
	background-color: #D9D9D9;
	margin-left: 3vw;
	margin-top: 2vh;
	margin-bottom: 5vh;
	border-radius:20px;
    float: left;
}

#cont4{
	width: 46vw;
    height: 33vh;
	background-color: #D9D9D9;
	margin-right:3vw;
	margin-top: 2vh;
	margin-bottom: 5vh;

	border-radius:0px;
    float: right;
}

h2{
    font-size:8vh;
    color: black;
    margin-left:2vw;
    margin-top:7vh;
    margin-bottom:0;
    margin-right:0;
}

header{
    font-size:6vh;
    color: black;
    margin-top: 0;
    margin-left:2vw;
    margin-bottom:7vh;
    margin-right:0;
}

.button{
    width:15vw;
    height: 28vh;
    background-color:#B3B3B3;
    float: right;
    margin-right:3vw;
    margin-top:2.5vh;
    border-radius:0px;
}

.button2{
    width:15vw;
    height: 28vh;
    background-color:#B3B3B3;
    float: right;
    margin-right:3vw;
    margin-top:2.5vh;
    border-radius:0px;
}


