/*NAV BAR!!!*/
.topnav {
	background-color: #86ac86;
	margin-right: 3%;

  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
	float: Right;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-family: verdana;
	font-size: 14px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
	background-color: #507e55;
	color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
	background-color: #649c6a;
	color: white;
  }

.banner{
    width: 100vw;
    height: 100px;
    background-color: #86ac86;
	margin: 0px;
}

h1{
    font-size: 75px;
    color:#ebebeb;
	margin-top: 0px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
	width: 100vw;
	height: 150vh;
	margin: 0px;
}

#cont1{
    display:flex;
	flex-direction: column;
	
    width: 30vw;
    height: 75vh;
    background-color: #D9D9D9;
    margin-left: 2.5vw;
    margin-right:1.125vw;
    margin-top: 3vh;
    border-radius:1.5%;
    float: left;
}



#cont2{
    display:flex;
	flex-direction: column;
	
	width: 30vw;
    height: 75vh;
	background-color: #D9D9D9;
	margin-left: 1.125vw;
	margin-right:1.125vw;
	margin-top: 3vh;
	border-radius:1.5%;
	float: left;
}

#cont3{
	display:flex;
	flex-direction: column;
     
    
    width: 30vw;
    height: 75vh;
	background-color: #D9D9D9;
	margin-left: 1.125vw;
	margin-right:2.5vw;
	margin-top: 3vh;
	border-radius:1.5%;
	float: left;
}

#cont4{
    display:flex;
	flex-direction: column;

    width: 30vw;
    height: 75vh;
    background-color: #D9D9D9;
    margin-left: 2.5vw;
    margin-right:1.125vw;
    margin-top: 3vh;
    margin-bottom: 0vh;
    border-radius:1.5%;
    float: left;
}



#cont5{
    display:flex;
	flex-direction: column;


	width: 30vw;
    height: 75vh;
	background-color: #D9D9D9;
	margin-left: 1.125vw;
	margin-right:1.125vw;
	margin-top: 3vh;
	margin-bottom: 5vh;
	border-radius:1.5%;
	float: left;
}

#cont6{
    display:flex;
	flex-direction: column;
    
	width: 30vw;
    height: 75vh;
	background-color: #D9D9D9;
	margin-left: 1.125vw;
	margin-right:1.125vw;
	margin-top: 3vh;
	margin-bottom: 5vh;
	border-radius:1.5%;
	float: left;
}

h2{
    font-size:40px;
    font-family: sans-serif;
    color:#313131;
    margin-left:2vw;
    margin-top:5vh;
    margin-bottom:0;
    margin-right:0;
}

header{
    font-size:6vh;
    font-family:sans-serif;
    color:#313131;
    margin-top: 0;
    margin-left:2vw;
    margin-bottom:7vh;
    margin-right:0;
}

p{
    margin-left:2vw;
    margin-right:2vw;
    font-size: 15px;
    line-height: 3vh;
    font-family: Noto Sans, sans-serif;
}

@media screen and (max-width:1150px){
	h2{
		font-size:33px;
	}

    p{
        font-size:14px;
    }

}

@media screen and (max-width:980px){
	h1{
		position:relative;
		font-size: 50px;
		padding:25px
	}

}

@media screen and (max-width:800px){
	h1{
		position:relative;
		font-size: 40px;
		padding:35px
	}
    p{
        font-size:10px;
    }
}

@media screen and (max-width:710px){
	h1{
		position:relative;
		font-size: 25px;
		padding:48px;
	}
}



@media screen and (max-width:550px){
	.container{
		width:33vw;
		height:480vh;
		margin-bottom:5vh;
	}

	#cont1{
		width:90vw;
		margin-left:1vw;
		margin-right:5vh;
	}
	#cont2{
		float:left;
		width:90vw;
		margin-left:1vw;
		margin-right:5vh;
		font-size: 7vh;
		margin-top: 3vh;
	}
	#cont3{
		float:left;
		width:90vw;
		margin-left:1vw;
		margin-right:5vh;
		margin-top:0px;
		margin-top: 3vh;
		
	}

    #cont4{
        float:left;
		width:90vw;
		margin-left:1vw;
		margin-right:5vh;
	}
	#cont5{
		float:left;
		width:90vw;
		margin-left:1vw;
		margin-right:5vh;
		font-size: 7vh;
	}
	#cont6{
		float:left;
		width:90vw;
		margin-left:1vw;
		margin-right:5vh;
		margin-top:0px;
		
	}

	
}