h1{
    font-size: 75px;
    color:#ebebeb;
	margin-top: 0px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
    font-size: 60px;
    color:rgb(44, 44, 44);
	margin-bottom: 0px;
	font-family: tahoma, sans-serif;
	font-style: normal;
	font-weight:400;
	margin-left:3vw;
	margin-top:3vh;

}

h3{
    font-size:20px;
    font-family: verdana;
    font-weight: 400;
    margin-left: 5vw;
    margin-top: 0px;
    margin-bottom:0px;
    color:black;
}


/*NAV BAR!!!*/
.topnav {
	background-color: #86ac86;
	margin-right: 3%;

  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
	float: Right;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-family: verdana;
	font-size: 14px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
	background-color: #507e55;
	color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
	background-color: #649c6a;
	color: white;
  }

  .banner{
    width: 100vw;
    height: 100px;
    background-color: #86ac86;
	margin: 0px;
}

.container{
	width: 100vw;
	height: 75vh;
	margin: 0px;
}


#side1{
    display:flex;
	flex-direction: column;
	justify-content: space-between;
	
	width: 30vw;
    height: 75vh;
    background-color: #D9D9D9;
    margin-left: 2.5vw;
    margin-right:1.125vw;
    margin-top: 3vh;
    margin-bottom: 0vh;
    border-radius:1.5%;


    float: left;
}



#side2{
	display:flex;
	flex-direction: column;
	justify-content: space-between;
	
	width: 30vw;
    height: 75vh;
	background-color: #D9D9D9;
	margin-left: 1.125vw;
	margin-right:1.125vw;
	margin-top: 3vh;
	margin-bottom: 5vh;
	border-radius:1.5%;
	float: left;
}

#side3{
	display:flex;
	flex-direction: column;
	justify-content: space-between;
	
	width: 30vw;
    height: 75vh;
	background-color: #D9D9D9;
	margin-left: 1.125vw;
	margin-right:2.5vw;
	margin-top: 3vh;
	margin-bottom:5vh;
	border-radius:1.5%;
	float: left;
}

body{
	background-color: #F5F5F5;
}

.center {
	display:block;
	margin-left: 7vw;
	position:absolute;
	bottom:6vh;
}


@media screen and (max-width:980px){
	h1{
		position:relative;
		font-size: 50px;
		padding:25px
	}

	.topnav a {
		font-size: 12px;
	}
}

@media screen and (max-width:760px){
	h1{
		position:relative;
		font-size: 40px;
		padding:35px
	}

	.topnav a {
		font-size: 10px;
	}
}

@media screen and (max-width:650px){
	
	.topnav a {
		font-size:5px;
	}
}

@media screen and (max-width:900px){
	h2{
		font-size: 40px;
	}
}

@media screen and (max-width:700px){
	h2{
		font-size: 30px;
	}
}

@media screen and (max-width:550px){
	.container{
		width:33vw;
		height:240vh;
		margin-bottom:5vh;
	}

	#side1{
		width:90vw;
		margin-left:1vw;
		margin-right:5vh;
	}
	#side2{
		float:left;
		width:90vw;
		margin-left:1vw;
		margin-right:5vh;
		font-size: 7vh;
	}
	#side3{
		float:left;
		width:90vw;
		margin-left:1vw;
		margin-right:5vh;
		margin-top:0px;
		
	}

	h2{
		font-size: 7vh;
	}
}